aiofiles
aiolimiter
anthropic
fuzzywuzzy
openai
python-Levenshtein
sqlmodel
tiktoken
transformers
numpy
psutil
spacy
async-timeout
python-decouple
ruff
aiosqlite
sqlalchemy
termcolor
google-genai
mpmath>=1.3.0